In [3]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9995 entries, 0 to 9994
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   segment       9995 non-null   object
 1   region        9995 non-null   object
 2   category      9995 non-null   object
 3   sub_category  9995 non-null   object
 4   sales         9995 non-null   float64
 5   quantity      9995 non-null   int64
 6   discount      9995 non-null   float64
 7   profit        9995 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 624.8+ KB

In [4]:
sales_df.isna().sum()

segment         0
region          0
category        0
sub_category    0
sales           0
quantity        0
discount        0
profit          0
dtype: int64

In [5]:
numeric_cols = ['sales', 'quantity', 'discount', 'profit']
sales_df[numeric_cols] = sales_df[numeric_cols].fillna(0)

In [6]:
sales_df = sales_df[(sales_df['sales'] > 0) & (sales_df['quantity'] > 0)]

In [7]:
text_cols = ['segment', 'region', 'category', 'sub_category']

for col in text_cols:
    sales_df[col] = sales_df[col].str.strip().str.title()

In [8]:
sales_df['profit_margin'] = (sales_df['profit'] / sales_df['sales']) * 100

In [9]:
print("Before cleaning:", 9995)
print("After cleaning:", sales_df.shape)
sales_df.head()

Before cleaning: 9995
After cleaning: (9994, 9)

,segment,region,category,sub_category,sales,quantity,discount,profit,profit_margin
0,Consumer,South,Furniture,Bookcases,261.96,2,0.00,41.91,15.998626
1,Consumer,South,Furniture,Chairs,731.94,3,0.00,219.58,29.999727
2,Corporate,West,Office Supplies,Labels,14.62,2,0.00,6.87,46.990424
3,Consumer,South,Furniture,Tables,957.58,5,0.45,-383.03,-39.999791
4,Consumer,South,Office Supplies,Storage,22.37,2,0.20,2.52,11.265087

In [ ]:
marketing cleaning

In [10]:
marketing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       8000 non-null   int64
 1   age               8000 non-null   int64
 2   gender            8000 non-null   object
 3   income            8000 non-null   int64
 4   campaign_channel  8000 non-null   object
 5   campaign_type     8000 non-null   object
 6   ad_spend          8000 non-null   float64
 7   ctr               8000 non-null   float64
 8   conversion_rate   8000 non-null   float64
 9   conversion        8000 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 625.1+ KB

In [11]:
marketing_df.columns = [
    'customer_id', 'age', 'gender', 'income',
    'campaign_channel', 'campaign_type',
    'ad_spend', 'ctr', 'conversion_rate',
    'conversion'
]

In [12]:
numeric_cols = ['age', 'income', 'ad_spend', 'ctr', 'conversion_rate']
marketing_df[numeric_cols] = marketing_df[numeric_cols].fillna(0)

marketing_df['gender'] = marketing_df['gender'].fillna('Unknown')

In [13]:
text_cols = ['gender', 'campaign_channel', 'campaign_type']

for col in text_cols:
    marketing_df[col] = marketing_df[col].str.strip().str.title()

In [14]:
marketing_df['conversion'] = marketing_df['conversion'].apply(
    lambda x: 1 if x == 1 else 0
)

In [15]:
marketing_df['cpa'] = marketing_df.apply(
    lambda x: x['ad_spend'] if x['conversion'] == 1 else None,
    axis=1
)

In [16]:
marketing_df['cpc'] = marketing_df['ad_spend'] * marketing_df['ctr']

In [17]:
marketing_df['engagement_score'] = (
    marketing_df['ctr'] * 100 +
    marketing_df['conversion_rate'] * 100
)

In [18]:
marketing_df.shape
marketing_df.head()

,customer_id,age,gender,income,campaign_channel,campaign_type,ad_spend,ctr,conversion_rate,conversion,cpa,cpc,engagement_score
0,8000,56,Female,136912,Social Media,Awareness,6497.87,0.0439,0.0880,1,6497.87,285.256493,13.19
1,8001,69,Male,41760,Email,Retention,3898.67,0.1557,0.1827,1,3898.67,607.022919,33.84
2,8002,46,Female,88456,Ppc,Awareness,1546.43,0.2775,0.0764,1,1546.43,429.134325,35.39
3,8003,32,Female,44085,Ppc,Conversion,539.53,0.1376,0.0880,1,539.53,74.239328,22.56
4,8004,60,Female,83964,Ppc,Conversion,1678.04,0.2529,0.1099,1,1678.04,424.376316,36.28

In [19]:
sales_df.to_sql(
    'sales_cleaned',
    con=engine,
    if_exists='replace',
    index=False
)

9994

In [20]:
marketing_df.to_sql(
    'marketing_cleaned',
    con=engine,
    if_exists='replace',
    index=False
)

8000